<!-- templates/account/logout.html -->
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log Out{% endblock %}
{% block content %}
<div class="main-logout">
    <div class="logout_box">
        <h3>Вихід</h3>
        <p>Ви впевнені, що бажаєте вийти з облікового запису?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger" type="submit">Вихід</button>
        </form>
    </div>
</div>
{% endblock content %}