{% extends "_base.html" %}
{% load static %}
{% block title %}Предмети{% endblock title %}
{% block content %}
<div class="lesson-container">
    {% for object in object_list %}
    <div class="lesson-box">
        {% if object.img_sub %}
        <img class="lesson-cover" src="{{ object.img_sub.url }}" alt="{{ object.name }}">
        {% else %}
        <img class="lesson-cover" src="/media/covers/no_photo.png" alt="{{ object.name }}">
        {% endif %}
        <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    </div>
    {% endfor %}
</div>
{% endblock content %}